.cardPage {
  display: flex;
  justify-content: space-between; 
  padding: 5vh;
  min-height: 90vh;
  width: 100%;

  .cardImage {
    height: 80%;
  }

  .cardInfos {
    color: var(--white);
    padding-left: 5vh;
    width: 100%;

    .cardTitleContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2vh;
    }

    .cardTitle {
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1;
    }
  }
}